.imgViewer{
  width: 200px;
}
#listItem{
  li{
    border-radius: 10px;
    border: 1px solid black; 
    display: inline-block;
    margin: 2% 2%;
    padding: 4%;
    .containerBtn{
      button {
        margin: 0 4%;
      }
    }
  }
}
#updateData{
  display: none;
}